<!-- Remove inline CSS and put into corresponding files -->
<header data-role="header" class="navbar nav navbar-inner">
    <div class="row" >
    <div class="cold-md-4">
        <button type="button" class="btn btn-primary"></button>
    </div>
        <div class="cold-md-8">
            <h1>Inventory</h1>
        </div>
    </div>

</header>
<div class="span12">
<ul class="list-unstyled">
    <li><a href="#/items/products"><button type="button" class="btn btn-primary btn-block">Products</button></a></li>
    <li><a href="#/items/electronics"><button type="button" class="btn btn-primary btn-block">Electronics</button></a></li>
    <li><a href="#/items/clothes"><button type="button" class="btn btn-primary btn-block">Clothes</button></a></li>
    <li><a href="#/items/furniture"><button type="button" class="btn btn-primary btn-block">Furniture</button></a></li>
</ul>
</div>